# Prerequisites
*.d
.idea

*.pkl
*.ini

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc
/venv
/source/protocol/parsetab.py
/source/*.db
*.render.md
/test/test.db
/test/.*xlsx
/doc/python入门教程/render/*
/source/autotest/**/*.docx
/source/requirements.txt